body {
  font-family: 'Exo', sans-serif;
  /* GRADIENT ANIMATION EDITION */
  /* background: linear-gradient(-45deg, #232526, #414345, #8E54E9);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite; */

  /* WALLPAPER EDITION */
  /* background: url("../../background/white-2.jpg") !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

h1 {
  font-family: 'Playfair Display', serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #F7F9F9;
}

h2 {
  font-weight: 300;
  font-size: 24px;
  color: #D0D3D4;
}

a {
  font-style: normal;
  font-weight: 400 !important;
  font-size: 24px !important;
  color: #F9F9F9 !important;
}

hr {
  background-color: gray;
  border-radius: 12px;
  height: 1px;
}

.separator {
  color: lightskyblue;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 24px;
}

.separator::before,
.separator::after {
  content: '';
  flex: 1;
  border-bottom: 2px solid #000;
}

.popup-noproject {
  width: 360px !important;
  border-radius: 12px;
  background-color: #1A1C26 !important;
}